.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__left masa
      .ul 
        .li
          = link_to "#", class:"edit" do
            = icon('fas', 'edit')
        .li
          = link_to "#", class:"new" do
            = icon('fas', 'cog')

  .side-bar__group-list 
    .side-bar__group-list__top techcamp
    .side-bar__group-list__bottom まだメッセージがありません
    .side-bar__group-list__top techcamp
    .side-bar__group-list__bottom まだメッセージがありません
    .side-bar__group-list__top techcamp
    .side-bar__group-list__bottom まだメッセージがありません


  
 